@charset "utf-8";

/* header{
    color: chocolate;
    font-size: 20px;
} */
.hreade-up{
    /* display: flex; */
    height: 25px;
    border: solid 2px;
}



li{
    list-style: none;
    display: inline-block;
    background-color: blue;
    color: white;
    border: solid 1px black; 
    width: 65px;
}






.top-img{
    width: 1920;
    height: 250;
    background-image:url(/img/top-img.jpg);
    background-size: auto;
}