@charset "utf-8";
/* 公式は、こちら　　https://narumi-plating.co.jp/ */


/* **************header上部********** */
.hreade-up{
    display: flex;
    justify-content: center;
    height: 58px;
}

.hreade-up h1,.hreade-up div{
    margin: auto 15px ;
}

.hreade-up div{
    width: 280px;
}

/* .hreade-up divが優先されてしまうため!importantで対応 */
.header-CatchCopy{
    margin-right: 50px !important;
}
/* .hreade-up divが優先されてしまうため!importantで対応 */
.header-phone{
    margin-left: 50px !important;
    /* 以下はフレックスBOX設定 */
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-phone:hover{
opacity: 0.6;
}


.header-mail-cover{
    /* background-color: #DD2139; */
    background-color: rgb(221, 33, 57);
}
.header-mail-cover:hover{
    background-color: rgba(0, 0, 0, 0);
}

.header-mail{
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0 !important;
}
.header-mail:hover{
    opacity: 0.6;
    background-color: rgb(221, 33, 57);
}

.header-mail img{
    margin:  auto 10px auto 50px;
}



/* **************header下部************ */
.header-down{
    background-color: #0037A7;
    height: 50px;
}

.header-menu{
height: 100%;
display: flex;
justify-content: center;
}

li{
    color: white;
    display: flex;
    align-items: center;
    /* 範囲が分かりやすい為の線 */
    /* border: solid 1px ; */
}
li:hover{
    background-color: rgba(255, 255, 255, 0.6);
}

li p{
    margin: 0 30px;
    /* 範囲が分かりやすい為の線 */
    /* border: dashed 1px ; */
}







.top-img{
    width: 1920px;
    height: 250px;
    background-image:url(/img/top-img.jpg);
    background-size: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-img_title{
    color: white;
    font-size: 32px;
    font-family: serif;
}

.inner{
border: solid green;
display: flex;
flex-direction: column;
align-items: center;
}

.test{
    border: solid 1px;
}

thead{
    border-left: 4px solid #0037A7;
    padding: 0 0 0 10px;
    font-weight: bold;
    line-height: 1.3;
    width: 935px;
}

table{
    border: double 3px red;
    width: 935px;
}
th{
    border-top: solid 0.5px #0037A7;
}
td{
    border-top: solid 0.5px #CCCCCC;
    /* justify-content: center; */
}

