@charset "utf-8";


/* header上部 */
.hreade-up{
    display: flex;
    justify-content: center;
    height: 60px;
    border: solid 2px;
}

.hreade-up h1,.hreade-up div{
    margin: auto 15px ;
}

.hreade-up div{
    width: 280px;
}



/* .hreade-up divが優先されてしまうため!importantで対応 */
.header-CatchCopy{
    margin-right: 50px !important;
}
/* .hreade-up divが優先されてしまうため!importantで対応 */
.header-phone{
    margin-left: 50px !important;
    /* 以下はフレックスBOX設定 */
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-mail{
    background-color: #DD0A39;
    /* padding: auto 50px auto 50px; */
    height: 100%;
    display: flex;
    align-items: center;
}
.header-mail img{
    margin:  auto 10px auto 50px;
}



/* header下部 */
li{
    list-style: none;
    display: inline-block;
    background-color: #0037A7;
    color: white;
    border: solid 1px black; 
}


.header-down{
    height: 60px;
    border: solid 1px black;
}



.top-img{
    width: 1920;
    height: 250;
    background-image:url(/img/top-img.jpg);
    background-size: auto;
    border: dashed 3px;
}


