@charset "utf-8";
/* 公式は、こちら　　https://narumi-plating.co.jp/ */


/* **************header上部********** */
.hreade-up{
    display: flex;
    justify-content: center;
    height: 58px;
}

.hreade-up h1,.hreade-up div{
    margin: auto 15px ;
}

.hreade-up div{
    width: 280px;
}

/* .hreade-up divが優先されてしまうため!importantで対応 */
.header-CatchCopy{
    margin-right: 50px !important;
}
/* .hreade-up divが優先されてしまうため!importantで対応 */
.header-phone{
    margin-left: 50px !important;
    /* 以下はフレックスBOX設定 */
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-mail{
    background-color: #DD0A39;
    /* padding: auto 50px auto 50px; */
    height: 100%;
    display: flex;
    align-items: center;
}
.header-mail:hover{
    background-color: #EFCCCF;
}

.header-mail img{
    margin:  auto 10px auto 50px;
}



/* **************header下部************ */
.header-down{
    background-color: #0037A7;
    height: 50px;
}

.header-menu{
height: 100%;
display: flex;
justify-content: center;
}

li{
    color: white;
    display: flex;
    align-items: center;
    /* 範囲が分かりやすい為の線 */
    /* border: solid 1px ; */
}
li:hover{
    background-color: #66AAFF;
}

li p{
    margin: 0 30px;
    /* 範囲が分かりやすい為の線 */
    /* border: dashed 1px ; */
}







.top-img{
    width: 1920;
    height: 250;
    background-image:url(/img/top-img.jpg);
    background-size: auto;
}

.top-img_title{
    color: white;
    font-size: 50px;
}

