@charset "utf-8";

/* header{
    color: chocolate;
    font-size: 20px;
} */
.hreade-up{
    display: flex;
    justify-content: center;
    height: 60px;
    border: solid 2px;
}



.header-CatchCopy{
    margin-right: 55px;
}

.header-phone{
    margin-left: 55px;
}


li{
    list-style: none;
    display: inline-block;
    background-color: #0037A7;
    color: white;
    border: solid 1px black; 
}


.header-down{
    height: 60px;
    border: solid 1px black;
}



.top-img{
    width: 1920;
    height: 250;
    background-image:url(/img/top-img.jpg);
    background-size: auto;
}
